
@{
    ViewBag.Title = "VerifyMail";
    Layout = "~/Areas/Client/Views/Layout/_layoutClient.cshtml";
}
<div class="main main-raised">
    <div class="container">
        <div class="card card-plain">
            <div class="card-body ml-5" style="margin-bottom:10em; margin-top:1.5em">
                <h3 class="card-title"> Xác Nhận Đơn Hàng</h3>
                <ul>
                    <li>
                        <p id="Result">Email xác nhận đơn hàng đã được gửi tới mail của bạn.</p>
                    </li>
                    <li>
                        <p id="Result">Vui lòng nhập kiểm tra để xác nhận đơn hàng</p>
                    </li>
                </ul>
           
            </div>
        </div>
    </div>
</div>

<style>

    #Result {
        font-size: 20px
    }

    .card-title {
        font-size: 30px
    }
</style>
