<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style>
        body {
            font-size: 17px;
            font-family: "Bosch Office Sans";
            line-height: 18px;
            width: 850px;
        }
    </style>
</head>
<body>
    <table>
        <tbody>
            <tr>
                <td width="100%" style="padding:0;padding-top:5%;" colspan="2">
                    <img src="cid:header" id="_x0000_i1027" style="display: inline;width: 100%;height: 100%;">
                </td>
            </tr>
            <tr>
                <td style="width:78.0%; padding:.75pt .75pt .75pt .75pt" width="78%">
                    <p style="margin-bottom:0;margin-top:30px;">
                        Dear <strong>{recepientName},</strong>
                    </p>
                </td>
                <td style="padding:.75pt .75pt .75pt .75pt">
                    <p align="right" style="text-align:right;">
                        <img src="cid:companylogo" style="display: inline;width: 100%;height: 100%;">
                    </p>
                </td>
            </tr>
            <tr>
                <td style="width:850px" colspan="2">
                    <div style="padding-bottom:10px;">
                        <br>
                        <p style="width:850px">
                            Cửa Hàng Vừa Nhận Được Đơn Đặt Hàng Mới Từ Khách Hàng (Đặt Hàng Online)<br />
                            Vui Lòng Kiểm Tra Đơn Hàng Và Thực Hiện Giao Hàng
                        </p>
                    </div>
                </td>
            </tr>
            <tr>
                <td width="100%" colspan="2"><br> </td>
            </tr>
            <tr>
                <td width="100%" colspan="2" style="padding-left:2rem;">
                    <table border="1" style="border-collapse: collapse;">
                        <tr style="height:35px">
                            <th colspan="2">Thông Tin Đơn Hàng</th>
                        </tr>
                        <tr>
                            <td width="162" height="38">
                                <p>&nbsp;Tên Khách Hàng</p>
                            </td>
                            <td width="240">&nbsp;<b>{TenKhachHang}</b></td>
                        </tr>
                        <tr>
                            <td width="162" height="38">
                                <p>&nbsp;Số Lượng Sản Phẩm</p>
                            </td>
                            <td width="300">&nbsp;<b>{SoLuong}</b></td>
                        </tr>
                        <tr>
                            <td width="162" height="38">
                                <p>&nbsp;Tổng Tiền</p>
                            </td>
                            <td width="240">&nbsp;<b>{TongTien}</b></td>
                        </tr>
                        <tr>
                            <td width="162" height="38">
                                <p>&nbsp;Ngày Mua </p>
                            </td>
                            <td width="240">&nbsp;<b>{NgayMua}</b></td>
                        </tr>
                        <tr>
                            <td width="162" height="38">
                                <p>&nbsp;Email</p>
                            </td>
                            <td width="240">&nbsp;<b>{Email}</b></td>
                        </tr>
                        <tr>
                            <td width="162" height="38">
                                <p>&nbsp;Địa Chỉ Giao Hàng</p>
                            </td>
                            <td width="240">&nbsp;<b>{DiaChi}</b></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td width="100%" colspan="2"><br> </td>
            </tr>
            <tr>

               
            </tr>
            <tr>
                <td>
                    <p>
                        <br />
                        Note: Đây Là Email Tự Động, Vui Lòng Không Reply Lại Email Này.
                    </p>
                    <p> <br /></p>
                </td>
            </tr>
            <tr>
                <td>
                    <br>
                    <p>Thank you.</p>
                    
                </td>
                <br ?>
            </tr>
            <tr>
                <td width="100%" style="padding:0;" colspan="2">
                    <img src="cid:footer" id="_x0000_i1027" style="display: inline;width: 100%;height: 100%;">
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
